@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Regular.ttf'), 
    url(./assets/fonts/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font: 14px/1.2 Roboto;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 30px;
  margin: 20px 0;
}

.select {

}

.level-option {

}

.button {
  width: 100px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.mines-input {
  /* width: 50px; */
}

.canvas {
  background-color: grey;
  border:2px solid #333;
}

.popup-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.popup {
  position: relative;
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
}

.popup-text {
  text-align: center;
}

.restart-btn {
  margin-bottom: 20px;
}

