* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}
.header {
  margin: 10px 0 30px;
}
button {
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
.button_header {
  margin-left: 10px;
  padding: 2px 4px;
  background-color: #9dba1d;
  border-bottom: 4px solid #617211;
}
.main {
  margin-top: 10px;
  padding: 10px;
}
.button-garage {
  padding: 1px 13px;
  background-color: rgb(196, 226, 241);
  border-bottom: 3px solid rgb(145, 191, 213);
  font-size: 0.7em;
  grid-column: span 1;
}
.control-block {
  max-width: 400px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 100px 3fr 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 5px;
  align-content: center;
  justify-content: center;
}
.input-name {
  grid-column-start: 1;
  grid-column-end: 3;
}
.control-block button:last-child {
  grid-column-start: 3;
  grid-column-end: 5;
}
.input-color {
  height: 1.5em;
  border: none;
  padding: 0;
}
.button-yellow {
  justify-self: center;
  width: 100px;
  background-color: #d5f3a0;
  border-color: #9eb575;
}
.garage-heading {
  margin-bottom: 10px;
  color: #fff;
}
.page-heading {
  margin-bottom: 10px;
  color: #fff;
}
.car-container {
  border-bottom: 2px #fff dashed;
  display: flex;
  flex-wrap: wrap;
}
.car_subcontainer {
  display: flex;
  justify-content: start;
  width: 100%;
}
.car-name {
  margin-left: 10px;
  margin-right: calc(100vw - 240px);
  color: orange;
  font-weight: 600;
}
.button-move {
  margin: 10px 3px 5px;
  padding: 1px 4px;
  height: 22px;
  background-color: black;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.8em;
}
.car-container button.button-move:nth-of-type(1) {
  border-color: #d5f3a0;
  color: #d5f3a0;
}
.car-container button.button-move:nth-of-type(2) {
  border-color: #d06b49;
  color: #d06b49;
}
.car-container button.button-move:nth-of-type(1):hover, .car-container button.button-move:nth-of-type(2):hover {
  border-color: rgb(196, 226, 241);
  color: rgb(196, 226, 241);
}
.car-container button:nth-of-type(1).unactive, .car-container button:nth-of-type(2).unactive {
  border-color: gray;
  color: gray;
}
.car {
  width: 75px;
  height: 50px;
  margin: 3px 10px 0;
  background: url(./assets/car-hatchback-svgrepo-com.svg) no-repeat;
  transform: scale(-1, 1);
  filter: drop-shadow(0px -1px 4px rgb(255, 255, 255));
}