@charset "UTF-8";
@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url(./assets/fonts/georgia/georgia-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(./assets/fonts/arial/arial-regular.ttf);
  font-weight: 400;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-out;
}

a {
  text-decoration: none;
}

.body {
  font: normal 400 15px/24px Arial;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.6);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media screen and (max-width: 1282px) {
  .header {
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .header {
    padding: 30px;
  }
}
@media screen and (max-width: 730px) {
  .header {
    padding: 30px 20px;
  }
}

.logo-block {
  margin-right: 574px;
}
@media screen and (max-width: 1282px) {
  .logo-block {
    margin-right: 10px;
  }
}

.logo {
  padding-bottom: 10px;
}

.logo-link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (hover: hover) {
  .logo-link:hover {
    color: white;
  }
}

.logo-subtitle {
  padding-left: 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav-block {
  margin-right: 2px;
}
@media screen and (max-width: 767.5px) {
  .nav-block {
    margin-right: 0;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
@media screen and (max-width: 767.5px) {
  ul {
    display: block;
  }
}
ul .header-nav-item {
  margin-right: 35px;
  text-align: right;
  font: normal 400 15px/24px Arial;
  color: #FAFAFA;
}
@media screen and (max-width: 767.5px) {
  ul .header-nav-item {
    margin-right: 20px;
  }
}
ul .header-nav-item:first-child {
  border-bottom: solid 3px #F1CDB3;
}
ul .header-nav-item:last-child {
  margin-right: 0;
}
ul .disabled-link {
  cursor: default;
  pointer-events: none;
  color: #FAFAFA;
}

.header-nav-link {
  font: normal 400 15px/24px Arial;
  color: #CDCDCD;
  cursor: pointer;
}
@media (hover: hover) {
  .header-nav-link:hover {
    color: #FAFAFA;
  }
}
.header-nav-link:active {
  border-bottom: solid 3px #F1CDB3;
  color: #FAFAFA;
}

.header-burger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  z-index: 11;
  margin-right: 0;
  margin-left: auto;
}
@media screen and (max-width: 767.5px) {
  .header-burger {
    display: block;
  }
}
.header-burger .burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  position: absolute;
  left: 0;
}
.header-burger .burger-line-1 {
  top: 0;
}
.header-burger .burger-line-2 {
  top: 10px;
}
.header-burger .burger-line-3 {
  bottom: 0;
}

.header-burger-active {
  transform: rotate(90deg);
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: transparent;
}

.active {
  background: rgba(41, 41, 41, 0.6);
  z-index: auto;
}

@media screen and (max-width: 767.5px) {
  .header-nav {
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 248px 38px;
    transform: translateX(250%);
    background-color: #292929;
  }
  .header-nav .header-nav-item {
    text-align: center;
    font: normal 400 32px/51px Arial;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .header-nav .header-nav-item a {
    font: inherit;
  }
  .header-nav-active {
    transform: translateX(calc(100vw - 320px));
  }
}
.intro {
  padding: 180px 40px 0;
  display: flex;
  justify-content: center;
  background: url(../assets/imgs/noise_lines.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
@media screen and (max-width: 1090px) {
  .intro {
    justify-content: space-between;
  }
}
@media screen and (max-width: 998px) {
  .intro {
    padding: 150px 30px 0;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 998px) {
  .intro {
    padding: 150px 10px 0;
  }
}
.intro .intro-img-container {
  margin: 0;
}
@media screen and (max-width: 998px) {
  .intro .intro-img-container {
    align-self: flex-end;
    text-align: right;
  }
}
.intro .intro-img {
  vertical-align: bottom;
}
@media screen and (max-width: 1279px) {
  .intro .intro-img {
    max-width: 569px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 750px) {
  .intro .intro-img {
    max-width: 80%;
    min-width: 260px;
    margin-right: 0;
  }
}

.intro-container {
  padding-top: 163px;
  margin-right: 42px;
  width: 460px;
}
@media screen and (max-width: 1100px) {
  .intro-container {
    padding-top: 80px;
    margin-right: 10px;
    max-width: 450px;
  }
}
@media screen and (max-width: 1090px) {
  .intro-container {
    max-width: 350px;
    flex-shrink: 2;
  }
}
@media screen and (max-width: 998px) {
  .intro-container {
    max-width: 460px;
    padding-top: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .intro-container {
    text-align: center;
    max-width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .intro-container {
    max-width: 100%;
  }
}
.intro-container .button {
  display: inline-block;
  margin-top: 42px;
  padding-top: 15px;
  text-align: center;
  font: normal 400 17px/22px Georgia;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #292929;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
}
@media screen and (max-width: 998px) {
  .intro-container .button {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 998px) {
  .intro-container .button {
    margin-left: 27%;
  }
}
@media screen and (max-width: 500px) {
  .intro-container .button {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .intro-container .button {
    margin-bottom: 105px;
  }
}
@media (hover: hover) {
  .intro-container .button:hover {
    background-color: #FDDCC4;
  }
}

.intro-heading {
  margin-bottom: 42px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
}
@media screen and (max-width: 500px) {
  .intro-heading {
    font: normal 400 25px/32px Georgia;
    letter-spacing: 0.06em;
  }
}

.intro-p {
  font: normal 400 15px/24px Arial;
  color: #CDCDCD;
}
@media screen and (max-width: 400px) {
  .intro-p {
    margin-left: auto;
    margin-right: auto;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  padding: 80px 40px 100px;
}
@media screen and (max-width: 450px) {
  .about {
    padding: 42px 25px 42.4px;
  }
}
.about .about-container {
  width: 430px;
  margin-left: 120px;
  padding-top: 14px;
  padding-bottom: 14px;
}
@media screen and (max-width: 900px) {
  .about .about-container {
    margin-left: 50px;
  }
}
@media screen and (max-width: 860px) {
  .about .about-container {
    padding: 0;
    margin-bottom: 80px;
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .about .about-container {
    margin-bottom: 42px;
  }
}
.about .about-heading {
  padding-bottom: 25px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 450px) {
  .about .about-heading {
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .about .about-heading {
    font-size: 25px;
    line-height: 32px;
  }
}
.about .about-p:first-of-type {
  padding-bottom: 25px;
}
@media screen and (max-width: 450px) {
  .about .about-p:first-of-type {
    padding-bottom: 22px;
  }
}
@media screen and (max-width: 450px) {
  .about .about-p {
    text-align: justify;
  }
}
.about .about-img {
  max-width: 100%;
  align-self: start;
}
@media screen and (max-width: 350px) {
  .about .about-img {
    max-width: 96%;
  }
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.friends .friends-slider-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1280px;
}
@media screen and (max-width: 1078px) {
  .friends .friends-slider-wrapper {
    justify-content: space-around;
  }
}
@media screen and (max-width: 460px) {
  .friends .friends-slider-wrapper {
    flex-wrap: wrap;
    -moz-column-gap: 7rem;
         column-gap: 7rem;
    row-gap: 1.4rem;
    justify-content: center;
  }
}
@media screen and (max-width: 370px) {
  .friends .friends-slider-wrapper {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
}
.friends .friends-slider-wrapper .slider-arrow {
  border: none;
  width: 52px;
  height: 52px;
  align-self: center;
  margin-right: 53px;
  margin-left: 40px;
  background: url(../assets/svg/button_arrow.svg) no-repeat;
  cursor: pointer;
}
@media screen and (max-width: 460px) {
  .friends .friends-slider-wrapper .slider-arrow {
    order: 2;
    margin-left: 68px;
    margin-right: auto;
  }
}
@media (hover: hover) {
  .friends .friends-slider-wrapper .slider-arrow:hover {
    background: url(../assets/svg/button_arrow_active.svg) no-repeat;
  }
}
.friends .friends-slider-wrapper .slider-arrow:last-child {
  margin-right: 40px;
  margin-left: 53px;
  transform: rotate(180deg);
}
@media screen and (max-width: 460px) {
  .friends .friends-slider-wrapper .slider-arrow:last-child {
    margin-right: 68px;
    margin-left: auto;
  }
}
@media (hover: hover) {
  .friends .friends-slider-wrapper .slider-arrow:last-child:hover {
    background: url(../assets/svg/button_arrow_active.svg) no-repeat;
  }
}
@media screen and (max-width: 1279px) {
  .friends .friends-slider-wrapper .slider-arrow {
    margin-right: 12px;
    margin-left: 30px;
  }
  .friends .friends-slider-wrapper .slider-arrow:last-child {
    margin-right: 30px;
    margin-left: 12px;
  }
}
.friends .friends-slider {
  display: flex;
  gap: 90px;
  flex: 3;
  overflow: hidden;
}
@media screen and (max-width: 1180px) {
  .friends .friends-slider {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 1078px) {
  .friends .friends-slider {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media screen and (max-width: 760px) {
  .friends .friends-slider {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media screen and (max-width: 460px) {
  .friends .friends-slider {
    margin-left: auto;
    margin-right: auto;
  }
}
.friends .friends-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}
.friends .friends-slider-item img {
  margin-bottom: 22px;
}
.friends .friends-slider-item figcaption {
  margin-bottom: 29.8px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media screen and (max-width: 1078px) {
  .friends .friends-slider-item:last-child {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .friends .friends-slider-item:nth-child(2) {
    display: none;
  }
}
@media (hover: hover) {
  .friends .friends-slider-item:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .friends .friends-slider-item:hover .slider-button {
    background-color: #FDDCC4;
  }
}
@keyframes move-right {
  from {
    left: 0px;
  }
  to {
    left: 1000px;
  }
}
.friends .transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}
@keyframes move-left {
  from {
    left: 0px;
  }
  to {
    left: 1000px;
  }
}
.friends .transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}
.friends .card {
  width: 200px;
  height: 200px;
  background: red;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
}
.friends .card.activated {
  background: #ccc;
}
.friends .slider-button {
  width: 187px;
  height: 52px;
  margin-bottom: 30px;
  padding-top: 15px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  font: normal 400 17px/22px Georgia;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends .button {
  margin-bottom: 100px;
  margin-top: 61px;
  padding-top: 15px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  text-align: center;
  font: normal 400 17px/22px Georgia;
  letter-spacing: 0.06em;
  color: #292929;
}
@media screen and (max-width: 450px) {
  .friends .button {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
@media (hover: hover) {
  .friends .button:hover {
    background-color: #FDDCC4;
  }
}

.friends-heading {
  margin-top: 80px;
  margin-bottom: 60px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
@media screen and (max-width: 450px) {
  .friends-heading {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 380px) {
  .friends-heading {
    font-size: 25px;
    line-height: 32px;
  }
}

.popup-background {
  display: none;
  width: 100%;
  min-height: 100%;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0;
}

.popup-content {
  display: none;
  position: relative;
  width: 900px;
  margin: 30vh auto;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
}
@media screen and (max-width: 1000px) {
  .popup-content {
    width: 630px;
  }
}
@media screen and (max-width: 724px) {
  .popup-content {
    width: 85%;
  }
}
@media screen and (max-width: 650px) {
  .popup-content {
    width: 83%;
  }
}
@media screen and (max-width: 515px) {
  .popup-content {
    padding: 10px;
    width: 75%;
  }
}

.popup-img {
  width: 55.56%;
  height: 100%;
  background: no-repeat center/cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-top-right-radius: 0;
}
@media screen and (max-width: 724px) {
  .popup-img {
    width: 40%;
  }
}
@media screen and (max-width: 515px) {
  .popup-img {
    display: none;
  }
}

.popup-info {
  max-width: calc(44.44% - 29px);
  padding-right: 20px;
}
@media screen and (max-width: 1000px) {
  .popup-info {
    padding-right: 9px;
    max-width: calc(44.44% - 9px);
  }
}
@media screen and (max-width: 650px) {
  .popup-info {
    max-width: calc(60% - 9px);
  }
}
@media screen and (max-width: 515px) {
  .popup-info {
    max-width: 100%;
    padding-right: 0;
  }
}
.popup-info .popup-heading {
  margin-top: 50px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1000px) {
  .popup-info .popup-heading {
    margin-top: 10px;
  }
}
@media screen and (max-width: 515px) {
  .popup-info .popup-heading {
    text-align: center;
    margin-top: 0;
  }
}
.popup-info .popup-subheading {
  margin-top: 10px;
  margin-bottom: 40px;
  font: normal 400 20px/23px Georgia;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 641px) {
  .popup-info .popup-subheading {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 515px) {
  .popup-info .popup-subheading {
    text-align: center;
  }
}
.popup-info .popup-text {
  margin-bottom: 40px;
  font: normal 400 15px/17px Georgia;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1000px) {
  .popup-info .popup-text {
    font: normal 400 13px/14.3px Georgia;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 515px) {
  .popup-info .popup-text {
    text-align: justify;
    margin-bottom: 24px;
  }
}
.popup-info .popup-list {
  display: inline-block;
  text-align: left;
  margin-bottom: 88px;
}
@media screen and (max-width: 850px) {
  .popup-info .popup-list {
    margin-bottom: 37px;
  }
}
@media screen and (max-width: 515px) {
  .popup-info .popup-list {
    margin-bottom: 0;
  }
}
.popup-info li {
  font: 400 15px/17px Georgia;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup-info li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 1000px) {
  .popup-info li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 515px) {
  .popup-info li {
    font: 400 15px/16.5px Georgia;
  }
}
.popup-info li::before {
  content: "•";
  font-weight: bold;
  display: block;
  width: 1em;
  color: #F1CDB3;
}
.popup-info li span {
  font-weight: 700;
}
.popup-info li .popup-list-text {
  font: inherit;
}

.popup-close-btn {
  position: absolute;
  top: -50px;
  right: -42px;
  background: url(../assets/svg/modal_close_button.svg) no-repeat;
  width: 52px;
  height: 52px;
}
@media screen and (max-width: 515px) {
  .popup-close-btn {
    right: -30px;
  }
}

.popup-active {
  display: flex;
  justify-content: space-between;
}

.help {
  padding: 80px 15px 100px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .help {
    padding: 80px 69px 100px;
  }
}
@media screen and (max-width: 450px) {
  .help {
    padding: 42px 15px;
  }
}
.help .help-heading {
  margin-bottom: 60px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 380px) {
  .help .help-heading {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 42px;
  }
}
.help .help-container {
  margin: 60px auto 0;
  max-width: 1029px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
}
@media screen and (max-width: 1180px) {
  .help .help-container {
    justify-content: center;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media screen and (max-width: 950px) {
  .help .help-container {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media screen and (max-width: 850px) {
  .help .help-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 55px;
  }
}
@media screen and (max-width: 530px) {
  .help .help-container {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (max-width: 380px) {
  .help .help-container {
    margin-top: 42px;
    grid-template-columns: repeat(2, 130px);
  }
}
.help .help-item img {
  padding-bottom: 22.8px;
}
@media screen and (max-width: 530px) {
  .help .help-item img {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 380px) {
  .help .help-item img {
    width: 50px;
    height: 50px;
    padding-bottom: 0;
  }
}
.help .help-item figcaption {
  font: normal 400 20px/23px Georgia;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 530px) {
  .help .help-item figcaption {
    font: normal 400 15px/16.5px Georgia;
  }
}
@media screen and (max-width: 380px) {
  .help .help-item figcaption {
    margin-top: 13px;
  }
}
.help .help-item:nth-child(5) {
  margin-right: 0;
}
@media screen and (max-width: 1101px) {
  .help .help-item:nth-child(5) {
    margin-left: 0;
  }
}
.help .help-item:nth-child(6) {
  margin-left: 84px;
}
@media screen and (max-width: 1180px) {
  .help .help-item:nth-child(6) {
    margin-left: 0;
  }
}
.help .help-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1101px) {
  .help .help-item:last-child {
    margin-right: 0;
  }
}

.donation {
  padding: 80px 0 100px;
  background-color: #F6F6F6;
}
@media screen and (max-width: 450px) {
  .donation {
    padding: 42px 20px;
  }
}
.donation .donation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  flex-wrap: wrap-reverse;
}
@media screen and (max-width: 915px) {
  .donation .donation-wrapper {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .donation .donation-wrapper {
    text-align: center;
  }
}
.donation .donation-wrapper .donation-img {
  align-self: center;
}
@media screen and (max-width: 545px) {
  .donation .donation-wrapper .donation-img {
    width: 81.25%;
  }
}
@media screen and (max-width: 380px) {
  .donation .donation-wrapper .donation-img {
    width: 95%;
  }
}

.donation-container {
  margin-left: 30px;
  max-width: 380px;
}
@media screen and (max-width: 900px) {
  .donation-container {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 380px) {
  .donation-container {
    margin-bottom: 42px;
  }
}
.donation-container .donation-heading {
  margin-bottom: 20px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 380px) {
  .donation-container .donation-heading {
    font-size: 25px;
    line-height: 32px;
  }
}
.donation-container .donation-bank-info {
  margin-bottom: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 380px) {
  .donation-container .donation-bank-info {
    line-height: 24px;
    letter-spacing: 0;
  }
}
.donation-container .donation-text {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
@media screen and (max-width: 380px) {
  .donation-container .donation-text {
    text-align: justify;
  }
}
.donation-container .donation-card-number {
  display: flex;
  justify-content: space-between;
  background-color: #F1CDB3;
  border-radius: 9px;
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 349px;
}
@media screen and (max-width: 410px) {
  .donation-container .donation-card-number {
    width: 281px;
    margin-right: auto;
    margin-left: auto;
  }
}
.donation-container .donation-card-number::before {
  margin-right: 10px;
  width: 33px;
  height: 23px;
  background-image: url(../assets/svg/credit-card.svg);
  background-repeat: no-repeat;
  content: "";
}
.donation-container .donation-card-number a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 410px) {
  .donation-container .donation-card-number a {
    font-size: 15px;
  }
}
@media (hover: hover) {
  .donation-container .donation-card-number:hover {
    background-color: #FDDCC4;
  }
}

.footer {
  padding: 40px 40px 0;
  background: url(../assets/imgs/noise_lines.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding-top: 30px;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    padding: 30px 10px 0;
  }
}
.footer .footer-container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}
@media screen and (max-width: 1000px) {
  .footer .footer-container {
    justify-content: center;
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 25px;
  }
}
@media screen and (max-width: 500px) {
  .footer .footer-container {
    align-items: center;
    row-gap: 0;
  }
}
.footer a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (hover: hover) {
  .footer a:hover {
    color: #FAFAFA;
  }
}
.footer .email, .footer .phone {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .footer .email, .footer .phone {
    justify-content: center;
  }
}
.footer .email::before, .footer .phone::before {
  margin-right: 13px;
  width: 47px;
  height: 32px;
  background-repeat: no-repeat;
  content: "";
}
.footer address {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 1000px) {
  .footer address {
    margin-bottom: 33px;
  }
}
.footer address:first-of-type::before {
  margin-right: 17px;
  width: 42px;
  height: 32px;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../assets/svg/icon-marker.svg);
}
.footer address:nth-of-type(2)::before {
  width: 42px;
  height: 32px;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../assets/svg/icon-marker.svg);
}
.footer .contacts-heading, .footer .address-heading {
  margin-bottom: 40px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media screen and (max-width: 380px) {
  .footer .contacts-heading, .footer .address-heading {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
}
.footer .address-heading {
  margin-bottom: 33px;
}
@media screen and (max-width: 380px) {
  .footer .address-heading {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
  }
}
.footer .footer-contacts {
  padding-top: 16px;
  max-width: 279px;
}
.footer .footer-contacts .email::before {
  background-image: url(../assets/svg/icon-email.svg);
}
.footer .footer-contacts .phone::before {
  background-image: url(../assets/svg/icon-phone.svg);
}
@media screen and (max-width: 1000px) {
  .footer .footer-contacts {
    padding-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .footer .footer-contacts {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.footer .footer-address {
  max-width: 302px;
  padding-top: 16px;
}
.footer .footer-address address {
  margin-bottom: 32px;
}
@media screen and (max-width: 1000px) {
  .footer .footer-address address {
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 380px) {
  .footer .footer-address address {
    margin-bottom: 40px;
  }
  .footer .footer-address address:last-child {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .footer .footer-address {
    padding-top: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .footer .footer-img {
    width: 260px;
  }
}

/*Page 2 - Pets*/
.pet-header {
  width: 100%;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media screen and (max-width: 1280px) {
  .pet-header {
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .pet-header {
    padding: 30px;
  }
}
@media screen and (max-width: 400px) {
  .pet-header {
    padding: 30px 20px;
  }
}
.pet-header .pet-logo-link, .pet-header .pet-header-nav-link {
  color: #545454;
}
.pet-header .pet-logo-subtitle {
  color: #292929;
}
.pet-header .header-nav-item:first-child {
  border-bottom: none;
}
.pet-header .header-nav-item:nth-child(2) {
  border-bottom: solid 3px #F1CDB3;
}
@media (hover: hover) {
  .pet-header .header-nav-link:hover {
    color: #292929;
  }
}
.pet-header .header-nav-link:active {
  border-bottom: solid 3px #F1CDB3;
  color: #292929;
}
.pet-header .disabled-link {
  cursor: default;
  pointer-events: none;
  color: #292929;
}
.pet-header .burger-line {
  background-color: #000;
}
@media screen and (max-width: 767.5px) {
  .pet-header .header-nav {
    background-color: #F6F6F6;
    z-index: 10;
  }
}
.pet-header .background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: transparent;
  z-index: -1;
}
.pet-header .active {
  background: rgba(41, 41, 41, 0.6);
  z-index: auto;
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 80px 40px 95.6px;
}
@media screen and (max-width: 800px) {
  .our-friends {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 410px) {
  .our-friends {
    padding: 42px 10px 39px;
  }
}
.our-friends .friends-heading {
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  .our-friends .friends-heading {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  .our-friends .friends-heading {
    margin-bottom: 42px;
  }
}
.our-friends .our-friends-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 60px;
  max-width: 1280px;
}
@media screen and (max-width: 1270px) {
  .our-friends .our-friends-wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .our-friends .our-friends-wrapper {
    margin-bottom: 40px;
  }
}
.our-friends .our-friends-wrapper .friends-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
}
.our-friends .our-friends-wrapper .friends-slider-item img {
  margin-bottom: 23px;
}
.our-friends .our-friends-wrapper .friends-slider-item figcaption {
  padding-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .our-friends .our-friends-wrapper .friends-slider-item:nth-child(7) {
    display: none;
  }
  .our-friends .our-friends-wrapper .friends-slider-item:last-child {
    display: none;
  }
}
@media screen and (max-width: 659px) {
  .our-friends .our-friends-wrapper .friends-slider-item:nth-last-child(-n+5) {
    display: none;
  }
}
@media (hover: hover) {
  .our-friends .our-friends-wrapper .friends-slider-item:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .our-friends .our-friends-wrapper .friends-slider-item:hover .slider-button {
    background-color: #FDDCC4;
  }
}
.our-friends .our-friends-wrapper .slider-button {
  width: 187px;
  height: 52px;
  margin-bottom: 30px;
  padding-top: 15px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  font: normal 400 17px/22px Georgia;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-friends .buttons-container {
  height: 56px;
}
.our-friends .buttons-container .pets-buttons {
  background-color: transparent;
  border: none;
  margin-right: 16px;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.our-friends .buttons-container .pets-buttons:last-child {
  margin-right: 0;
}
@media screen and (max-width: 440px) {
  .our-friends .buttons-container .pets-buttons {
    margin-right: 5px;
  }
  .our-friends .buttons-container .pets-buttons:last-child {
    margin-right: 0;
  }
}
.our-friends .buttons-container .disabled-btn {
  cursor: default;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */