@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url(./assets/fonts/georgia/georgia-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(./assets/fonts/arial/arial-regular.ttf);
  font-weight: 400;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-out;
}

a {
  text-decoration: none;
}

body {
  font: normal 400 15px/24px Arial;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media screen and (max-width: 1282px) {
  .header {
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .header {
    padding: 30px;
  }
}

.logo-block {
  margin-right: 574px;
}
@media screen and (max-width: 1282px) {
  .logo-block {
    margin-right: 10px;
  }
}

.logo {
  padding-bottom: 10px;
}

.logo-link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (hover: hover) {
  .logo-link:hover {
    color: white;
  }
}

.logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav-block {
  margin-right: 2px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
ul .header-nav-item {
  margin-right: 35px;
  text-align: right;
  font: normal 400 15px/24px Arial;
  color: #FAFAFA;
}
ul .header-nav-item:first-child {
  border-bottom: solid 3px #F1CDB3;
}
ul .header-nav-item:last-child {
  margin-right: 0;
}
ul .disabled-link {
  cursor: default;
  pointer-events: none;
  color: #FAFAFA;
}

.header-nav-link {
  font: normal 400 15px/24px Arial;
  color: #CDCDCD;
  cursor: pointer;
}
@media (hover: hover) {
  .header-nav-link:hover {
    color: #FAFAFA;
  }
}
.header-nav-link:active {
  border-bottom: solid 3px #F1CDB3;
  color: #FAFAFA;
}

.intro {
  padding: 180px 40px 0;
  display: flex;
  justify-content: center;
  background: url(../assets/imgs/start-screen-gradient-background.png) no-repeat;
  background-size: 100% auto;
}
@media screen and (max-width: 1090px) {
  .intro {
    justify-content: space-between;
  }
}
@media screen and (max-width: 998px) {
  .intro {
    padding: 150px 30px 0;
    flex-direction: column;
    align-items: center;
  }
}
.intro .intro-img-container {
  margin: 0;
}
@media screen and (max-width: 998px) {
  .intro .intro-img-container {
    align-self: flex-end;
  }
}
.intro .intro-img {
  vertical-align: bottom;
}
@media screen and (max-width: 1279px) {
  .intro .intro-img {
    width: 569px;
    height: auto;
  }
}

.intro-container {
  padding-top: 163px;
  margin-right: 42px;
  width: 460px;
}
@media screen and (max-width: 1100px) {
  .intro-container {
    padding-top: 80px;
    margin-right: 10px;
    max-width: 450px;
  }
}
@media screen and (max-width: 1090px) {
  .intro-container {
    max-width: 350px;
    flex-shrink: 2;
  }
}
@media screen and (max-width: 998px) {
  .intro-container {
    max-width: 460px;
    padding-top: 0;
    margin-right: 0;
  }
}
.intro-container .button {
  display: inline-block;
  margin-top: 42px;
  padding-top: 15px;
  text-align: center;
  font: normal 400 17px/22px Georgia;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #292929;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
}
@media screen and (max-width: 998px) {
  .intro-container .button {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 998px) {
  .intro-container .button {
    margin-left: 27%;
  }
}
@media (hover: hover) {
  .intro-container .button:hover {
    background-color: #FDDCC4;
  }
}

.intro-heading {
  margin-bottom: 42px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
}

.intro-p {
  font: normal 400 15px/24px Arial;
  color: #CDCDCD;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  padding: 80px 40px 100px;
}
.about .about-container {
  width: 430px;
  margin-left: 120px;
  padding-top: 14px;
  padding-bottom: 14px;
}
@media screen and (max-width: 900px) {
  .about .about-container {
    margin-left: 50px;
  }
}
@media screen and (max-width: 860px) {
  .about .about-container {
    padding: 0;
    margin-bottom: 80px;
    margin-left: 0;
  }
}
.about .about-heading {
  padding-bottom: 25px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
  color: #545454;
}
.about .about-p:first-of-type {
  padding-bottom: 25px;
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.friends .friends-slider-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1280px;
}
@media screen and (max-width: 1078px) {
  .friends .friends-slider-wrapper {
    justify-content: space-around;
  }
}
.friends .friends-slider-wrapper .slider-arrow {
  border: none;
  width: 52px;
  height: 52px;
  align-self: center;
  margin-right: 53px;
  margin-left: 40px;
  background: url(../assets/svg/button_arrow.svg) no-repeat;
  cursor: pointer;
}
@media (hover: hover) {
  .friends .friends-slider-wrapper .slider-arrow:hover {
    background: url(../assets/svg/button_arrow_active.svg) no-repeat;
  }
}
.friends .friends-slider-wrapper .slider-arrow:last-child {
  margin-right: 40px;
  margin-left: 53px;
  transform: rotate(180deg);
}
@media (hover: hover) {
  .friends .friends-slider-wrapper .slider-arrow:last-child:hover {
    background: url(../assets/svg/button_arrow_active.svg) no-repeat;
  }
}
@media screen and (max-width: 1279px) {
  .friends .friends-slider-wrapper .slider-arrow {
    margin-right: 12px;
    margin-left: 30px;
  }
  .friends .friends-slider-wrapper .slider-arrow:last-child {
    margin-right: 30px;
    margin-left: 12px;
  }
}
.friends .friends-slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 90px;
       column-gap: 90px;
}
@media screen and (max-width: 1180px) {
  .friends .friends-slider {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 1078px) {
  .friends .friends-slider {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
.friends .friends-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}
.friends .friends-slider-item img {
  margin-bottom: 22px;
}
.friends .friends-slider-item figcaption {
  margin-bottom: 29.8px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media screen and (max-width: 1078px) {
  .friends .friends-slider-item:last-child {
    display: none;
  }
}
@media (hover: hover) {
  .friends .friends-slider-item:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .friends .friends-slider-item:hover .slider-button {
    background-color: #FDDCC4;
  }
}
.friends .slider-button {
  width: 187px;
  height: 52px;
  margin-bottom: 30px;
  padding-top: 15px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  font: normal 400 17px/22px Georgia;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends .button {
  margin-bottom: 100px;
  margin-top: 61px;
  padding-top: 15px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  text-align: center;
  font: normal 400 17px/22px Georgia;
  letter-spacing: 0.06em;
  color: #292929;
}
@media (hover: hover) {
  .friends .button:hover {
    background-color: #FDDCC4;
  }
}

.friends-heading {
  margin-top: 80px;
  margin-bottom: 60px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.help {
  padding: 80px 15px 100px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .help {
    padding: 80px 69px 100px;
  }
}
.help .help-heading {
  margin-bottom: 60px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
}
.help .help-container {
  margin: 60px auto 0;
  max-width: 1029px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
}
@media screen and (max-width: 1180px) {
  .help .help-container {
    justify-content: center;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media screen and (max-width: 950px) {
  .help .help-container {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media screen and (max-width: 850px) {
  .help .help-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 55px;
  }
}
.help .help-item img {
  padding-bottom: 22.8px;
}
.help .help-item figcaption {
  font: normal 400 20px/23px Georgia;
  letter-spacing: 0.06em;
  color: #545454;
}
.help .help-item:nth-child(5) {
  margin-right: 0;
}
@media screen and (max-width: 1101px) {
  .help .help-item:nth-child(5) {
    margin-left: 0;
  }
}
.help .help-item:nth-child(6) {
  margin-left: 84px;
}
@media screen and (max-width: 1180px) {
  .help .help-item:nth-child(6) {
    margin-left: 0;
  }
}
.help .help-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1101px) {
  .help .help-item:last-child {
    margin-right: 0;
  }
}

.donation {
  padding: 80px 0 100px;
  background-color: #F6F6F6;
}
.donation .donation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  flex-wrap: wrap-reverse;
}
@media screen and (max-width: 915px) {
  .donation .donation-wrapper {
    margin-right: 0;
  }
}
.donation .donation-wrapper .donation-img {
  align-self: center;
}

.donation-container {
  margin-left: 30px;
  max-width: 380px;
}
@media screen and (max-width: 900px) {
  .donation-container {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
.donation-container .donation-heading {
  margin-bottom: 20px;
  font: normal 400 35px/45px Georgia;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation-container .donation-bank-info {
  margin-bottom: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation-container .donation-text {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
.donation-container .donation-card-number {
  display: flex;
  justify-content: space-between;
  background-color: #F1CDB3;
  border-radius: 9px;
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 349px;
}
.donation-container .donation-card-number::before {
  margin-right: 10px;
  width: 33px;
  height: 23px;
  background-image: url(../assets/svg/credit-card.svg);
  background-repeat: no-repeat;
  content: "";
}
.donation-container .donation-card-number a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (hover: hover) {
  .donation-container .donation-card-number:hover {
    background-color: #FDDCC4;
  }
}

.footer {
  padding: 40px 40px 0;
  background: url(../assets/imgs/noise_lines.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding-top: 30px;
  }
}
.footer .footer-container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}
@media screen and (max-width: 1000px) {
  .footer .footer-container {
    justify-content: center;
  }
}
.footer a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (hover: hover) {
  .footer a:hover {
    color: #FAFAFA;
  }
}
.footer .email, .footer .phone {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer .email::before, .footer .phone::before {
  margin-right: 13px;
  width: 47px;
  height: 32px;
  background-repeat: no-repeat;
  content: "";
}
.footer address {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 40px;
}
.footer address:first-of-type::before {
  margin-right: 17px;
  width: 42px;
  height: 32px;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../assets/svg/icon-marker.svg);
}
.footer address:nth-of-type(2)::before {
  width: 42px;
  height: 32px;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../assets/svg/icon-marker.svg);
}
.footer .contacts-heading, .footer .address-heading {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer .address-heading {
  margin-bottom: 34px;
}
.footer .footer-contacts {
  padding-top: 16px;
  max-width: 279px;
}
.footer .footer-contacts .email::before {
  background-image: url(../assets/svg/icon-email.svg);
}
.footer .footer-contacts .phone::before {
  background-image: url(../assets/svg/icon-phone.svg);
}
@media screen and (max-width: 1000px) {
  .footer .footer-contacts {
    margin-right: 60px;
    margin-bottom: 25px;
    padding-top: 0;
  }
}
.footer .footer-address {
  max-width: 302px;
  padding-top: 16px;
  margin-left: -6px;
}
.footer .footer-address address {
  margin-bottom: 32px;
}
@media screen and (max-width: 1000px) {
  .footer .footer-address {
    padding-top: 0;
  }
}

/*Page 2 - Pets*/
.pet-header {
  width: 100%;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media screen and (max-width: 1280px) {
  .pet-header {
    justify-content: space-between;
  }
}
.pet-header .pet-logo-link, .pet-header .pet-header-nav-link {
  color: #545454;
}
.pet-header .pet-logo-subtitle {
  color: #292929;
}
.pet-header .header-nav-item:first-child {
  border-bottom: none;
}
.pet-header .header-nav-item:nth-child(2) {
  border-bottom: solid 3px #F1CDB3;
}
@media (hover: hover) {
  .pet-header .header-nav-link:hover {
    color: #292929;
  }
}
.pet-header .header-nav-link:active {
  border-bottom: solid 3px #F1CDB3;
  color: #292929;
}
.pet-header .disabled-link {
  cursor: default;
  pointer-events: none;
  color: #292929;
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.our-friends .friends-heading {
  margin-top: 80px;
}
.our-friends .our-friends-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 60px;
}
.our-friends .our-friends-wrapper .friends-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
}
.our-friends .our-friends-wrapper .friends-slider-item img {
  margin-bottom: 23px;
}
.our-friends .our-friends-wrapper .friends-slider-item figcaption {
  padding-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media (hover: hover) {
  .our-friends .our-friends-wrapper .friends-slider-item:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .our-friends .our-friends-wrapper .friends-slider-item:hover .slider-button {
    background-color: #FDDCC4;
  }
}
.our-friends .our-friends-wrapper .slider-button {
  width: 187px;
  height: 52px;
  margin-bottom: 30px;
  padding-top: 15px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  font: normal 400 17px/22px Georgia;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-friends .buttons-container {
  margin-bottom: 93px;
}
.our-friends .buttons-container .pets-buttons {
  background-color: transparent;
  border: none;
  margin-right: 16px;
  cursor: pointer;
}
.our-friends .buttons-container .pets-buttons:last-child {
  margin-right: 0;
}
.our-friends .buttons-container .disabled-btn {
  cursor: default;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */