@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url(./assets/fonts/georgia/georgia-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(./assets/fonts/arial/arial-regular.ttf);
    font-weight: 400;
}


$font-p: normal 400 15px/24px Arial;
$font-h2: normal 400 35px/45px Georgia;
$font-h2-mobile: normal 400 25px/32px Georgia;
$font-a-btn: normal 400 17px/22px Georgia;
$font-figcaption: normal 400 20px/23px Georgia;
$desktop-width: 1280px;
$tablet-width: 767.5px;
$mobile-width: 320px;

@mixin button($width-but, $height-but) {
    width: $width-but;
    height: $height-but;
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    transition: all .4s ease-out;
}
a {
    text-decoration: none;
}
.body {
    font: normal 400 15px/24px Arial;
}
.no-scroll {
    height: 100%;
    overflow: hidden;
    background-color: rgba(41, 41, 41, 0.6); //не работает, заменить
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    @media screen and (max-width: 1282px) {
        justify-content: space-between;
   }
    @media screen and (max-width: 800px) {
        padding: 30px 20px;
    }
}

    .logo-block {
        margin-right: 574px;
        @media screen and (max-width: 1282px) {
            margin-right: 10px;
       }
    }
    .logo {
        padding-bottom: 10px;
    }
    .logo-link {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.06em;
            color: #F1CDB3;
            @media (hover: hover) {
                &:hover{
                color: lighten(#F1CDB3, 20%);
                }
            }
    }
    .logo-subtitle {
        padding-left: 4px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    .nav-block {
        margin-right: 2px;
        @media screen and (max-width: $tablet-width) {
            margin-right: 0;
        }
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        @media screen and (max-width: $tablet-width) {
            display: block;
        }
    .header-nav-item {
        margin-right: 35px;
        text-align: right;
        font: $font-p;
        color: #FAFAFA;
        @media screen and (max-width: $tablet-width) {
            margin-right: 20px;
        }
        &:first-child {
            border-bottom: solid 3px #F1CDB3;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .disabled-link {
        cursor: default;
        pointer-events: none;
        color: #FAFAFA;
    }
    }
    .header-nav-link {
        font: $font-p;
        color: #CDCDCD;
        cursor: pointer;
        @media (hover: hover) {
        &:hover {
            color: #FAFAFA;
        }
        }
        &:active {
            border-bottom: solid 3px #F1CDB3;
            color: #FAFAFA;
        }
    }
    .header-burger {
        display: none;
        width: 30px;
        height: 22px;
        position: relative;
        z-index: 11;
        margin-right: 0;
        margin-left: auto;
        @media screen and (max-width: $tablet-width) {
            display: block;
        }
        .burger-line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #F1CDB3;
            position: absolute;
            left: 0;
        }
        .burger-line-1 {
            top: 0;
        }
        .burger-line-2 {
            top: 10px;
        }
        .burger-line-3 {
            bottom: 0;
        }
    }
    .header-burger-active {
        transform: rotate(90deg);
    }
    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: transparent;
        z-index: -1;
    }
    .active {
        background: rgba(41, 41, 41, 0.6);
        z-index: auto;
    }
    @media screen and (max-width: $tablet-width) {
        .header-nav {
            width: 320px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            padding: 248px 38px;
            transform: translateX(250%);
            background-color: #292929;
            .header-nav-item {
                text-align: center;
                font: normal 400 32px/51px Arial;
                margin-bottom: 40px;
                margin-right: 0;
                a {
                    font: inherit;
                }
            }
        }
        .header-nav-active {
            transform: translateX(calc(100vw - 320px));
        }
    }



.intro {
    padding: 180px 40px 0;
    display: flex;
    justify-content: center;
    gap: 42px;
    background: url(../assets/imgs/noise_lines.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    @media screen and (max-width: 998px) {
        padding: 150px 10px 0;
        flex-direction: column;
        align-items: center;
    }
    .intro-img-container {
        margin: 0;
        @media screen and (max-width: 998px) {
            align-self: flex-end;
            text-align: right;
        }
    }
    .intro-img {
        vertical-align: bottom;
        @media screen and (max-width: 1100px) {
            max-width: 569px;
            margin-right: 20px;
       }
       @media screen and (max-width: 750px) {
            max-width: 80%;
            min-width: 260px;
            margin-right: 0;
        }
    }
}

@function calcWidth($width) {
    @return 460/1280*$width
}
.intro-container {
    padding-top: 163px;
    @media screen and (max-width: 1100px) {
        padding-top: 80px;
        margin-right: 10px;
        max-width: 450px;
   }
    @media screen and (max-width: 998px) {
        max-width: 460px;
        padding-top: 0;
        margin-right: 0;
    }
    @media screen and (max-width: 500px) {
        text-align: center;
        max-width: 100%;
    }
    width: calcWidth($desktop-width);
    .button {
        display: inline-block;
        margin-top: 42px;
        padding-top: 15px;
        text-align: center;
        font: $font-a-btn;
        font-style: normal;
        letter-spacing: 0.06em;
        color: #292929;
        @media screen and (max-width: 998px) {
            margin-bottom: 100px;
        }
        @include button(207px, 52px);
        @media screen and (max-width: 998px) {
            margin-left: 27%;
        }
        @media screen and (max-width: 500px) {
            margin-left: 0;
        }
        @media screen and (max-width: 400px) {
            margin-bottom: 105px;
        }
        @media (hover: hover) {
        &:hover {
            background-color: #FDDCC4;
        }
        }
    }
}
.intro-heading {
    margin-bottom: 42px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
    @media screen and (max-width: 500px) {
        font: $font-h2-mobile;
        letter-spacing: 0.06em;
    }
}
.intro-p {
    font: $font-p;
    color: #CDCDCD;
    @media screen and (max-width: 400px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    padding: 80px 40px 100px;
    gap: 120px;
    @media screen and (max-width: 930px) {
        gap: 80px;
    }
    @media screen and (max-width: 500px) {
        padding: 42px 25px 42.4px;
    }
    .about-container {
        width: 430px;
        padding-top: 14px;
        padding-bottom: 14px;
        @media screen and (max-width: 930px) {
            padding: 0;
        }
        @media screen and (max-width: 500px) {
            margin-bottom: 42px;
        }
    }
    .about-heading {
        padding-bottom: 25px;
        font: $font-h2;
        letter-spacing: 0.06em;
        color: #545454;
        @media screen and (max-width: 500px) {
            text-align: center;
        }
        @media screen and (max-width: 380px) {
            font-size: 25px;
            line-height: 32px;
        }
    }
    .about-p:first-of-type{
        padding-bottom: 25px;
        @media screen and (max-width: 450px) {
            padding-bottom: 22px;
        }
    }
    @media screen and (max-width: 500px) {
        .about-p {
            text-align: justify;
        }
    }
    .about-img {
        max-width: 100%;
        align-self: start;
        @media screen and (max-width: 350px) {
            max-width: 96%;
        }
    }
}
.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    .friends-slider-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100vw;
        max-width: $desktop-width;
        @media screen and (max-width: 460px) {
            flex-wrap: wrap;
            column-gap: 7rem;
            row-gap: 1.4rem;
            justify-content: center;
        }
        @media screen and (max-width: 370px) {
            column-gap: 3.5rem;
        }
        .slider-arrow {
            border: none;
            width: 52px;
            height: 52px;
            align-self: center;
            background: url(../assets/svg/button_arrow.svg) no-repeat;
            cursor: pointer;
            @media screen and (max-width: 460px) {
                order: 2;
                margin-left: 68px;
                margin-right: auto;
            }
            @media (hover: hover) {
            &:hover {
                background: url(../assets/svg/button_arrow_active.svg) no-repeat;
            }
            }
            &:last-child {
                transform: rotate(180deg);
                @media screen and (max-width: 460px) {
                    margin-right: 68px;
                    margin-left: auto;
                }
                @media (hover: hover) {
                &:hover {
                    background: url(../assets/svg/button_arrow_active.svg) no-repeat;
                }
                }
            }
        }
    }
    .carousel-wrapper {
        max-width: 1170px;
        overflow: hidden;
    }
    .friends-slider {
        display: flex;
        justify-content: space-between;
        gap: 90px;
        flex: 3;
        max-width: 1080px;
        position: relative;
        transition: none;
        @media screen and (max-width: 1245px) {
            max-width: 580px;
            gap: 40px;
        }
        @media screen and (max-width: 700px) {
            max-width: 270px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .friends-slider-set {
        display: flex;
        gap: 90px;
        @media screen and (max-width: 1245px) {
            gap: 40px;
        }
    }
    .friends-slider-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAFAFA;
        border-radius: 9px;
        cursor: pointer;
        img {
            margin-bottom: 22px;
        }
        figcaption{
            margin-bottom: 29.8px;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: #545454;
            text-align: center;
        }
        @media (hover: hover) {
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 11px rgba(33,33,33,.2);
            .slider-button {
                background-color: #FDDCC4;
            }
        }
        }
    }
    @keyframes move-right {
        from {left: -990px;}
        to {left: -1980px;}
    }
      .transition-right {
        animation-name: move-right;
        animation-duration: 1.5s;
    }
    @keyframes move-left {
        from {left: -1035px;}
        to {left: 0px;}
    }
    .transition-left {
        animation-name: move-left;
        animation-duration: 1.5s;
    }
    .card {
        width: 200px;
        height: 200px;
        background: red;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        cursor: pointer;
      }

      .card.activated {
        background: #ccc;
      }

    .slider-button {
        width: 187px;
        height: 52px;
        margin-bottom: 30px;
        padding-top: 15px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        background-color: transparent;
        font: $font-a-btn;
        text-align: center;
        letter-spacing: 0.06em;
        color: #292929;
    }
    .button {
        margin-bottom: 100px;
        margin-top: 61px;
        padding-top: 15px;
        @include button(261px, 52px);
        text-align: center;
        font: $font-a-btn;
        letter-spacing: 0.06em;
        color: #292929;
        @media screen and (max-width: 450px) {
            margin-top: 42px;
            margin-bottom: 42px;
        }
        @media (hover: hover) {
        &:hover {
            background-color: #FDDCC4;
        }
    }
    }
}
.friends-heading {
    margin-top: 80px;
    margin-bottom: 60px;
    font: $font-h2;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    @media screen and (max-width: 450px) {
        margin-top: 42px;
        margin-bottom: 42px;
    }
    @media screen and (max-width: 380px) {
        font-size: 25px;
        line-height: 32px;
    }
}
.popup-background {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: rgba(41, 41, 41, 0.6);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.popup-content {
    display: none;
    position: relative;
    width: 900px;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: 9px;
    @media screen and (max-width: 1000px)  {
        width: 630px;
    }
    @media screen and (max-width: 750px)  {
        width: 85%;
    }
    @media screen and (max-width: 650px)  {
        width: 83%;
    }
    @media screen and (max-width: 515px)  {
        padding: 10px;
        width: 75%;
    }
}
.popup-img {
    width: 55.56%;
    background: no-repeat center/cover;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-right-radius: 0;
    @media screen and (max-width: 724px)  {
        width: 40%;
    }
    @media screen and (max-width: 515px)  {
        display: none;
    }
}
.popup-info {
    max-width: calc(100% - 55.56% - 29px);
    padding-right: 20px;
    @media screen and (max-width: 1000px)  {
        padding-right: 9px;
        max-width: calc(100% - 55.56% - 9px);
    }
    @media screen and (max-width: 650px)  {
        max-width: calc(100% - 40% - 9px);
    }
    @media screen and (max-width: 515px)  {
        max-width: 100%;
        padding-right: 0;
    }
    .popup-heading{
        margin-top: 50px;
        font: $font-h2;
        letter-spacing: 0.06em;
        @media screen and (max-width: 1000px)  {
            margin-top: 10px;
        }
        @media screen and (max-width: 515px)  {
            text-align: center;
            margin-top: 0;
        }
    }
    .popup-subheading {
        margin-top: 10px;
        margin-bottom: 40px;
        font: $font-figcaption;
        letter-spacing: 0.06em;
        @media screen and (max-width: 515px)  {
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .popup-text {
        margin-bottom: 40px;
        font: normal 400 15px/17px Georgia;
        letter-spacing: 0.06em;
        @media screen and (max-width: 1000px)  {
            font: normal 400 13px/14.3px Georgia;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 515px)  {
            text-align: justify;
            margin-bottom: 24px;
        }
    }
    .popup-list {
        display: inline-block;
        text-align: left;
        margin-bottom: 88px;
        @media screen and (max-width: 850px)  {
            margin-bottom: 37px;
        }
        @media screen and (max-width: 515px)  {
            margin-bottom: 0;
        }
    }
    li {
        font: 400 15px/17px Georgia;
        letter-spacing: 0.06em;
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
        &:first-child {
            margin-top: 0;
        }
        @media screen and (max-width: 1000px)  {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        @media screen and (max-width: 515px)  {
            font: 400 15px/16.5px Georgia;
        }
        &::before {
            content: "\2022";
            font-weight: bold;
            display: block;
            width: 1em;
            color: #F1CDB3;
        }
        span {
            font-weight: 700;
        }
        .popup-list-text {
            font: inherit;
        }
    }
}
.popup-close-btn {
    position: absolute;
    top: -50px;
    right: -42px;
    background: url(../assets/svg/modal_close_button.svg) no-repeat;
    width: 52px;
    height: 52px;
    @media screen and (max-width: 515px)  {
        right: -30px;
    }
}
.popup-active {
    display: flex;
    justify-content: space-between;
}

.help {
    padding: 80px 15px 100px;
    text-align: center;
    @media screen and (max-width: 850px) {
        padding: 80px 69px 100px;
    }
    @media screen and (max-width: 450px) {
        padding: 42px 15px;
    }
    .help-heading {
        margin-bottom: 60px;
        font: $font-h2;
        letter-spacing: 0.06em;
        @media screen and (max-width: 380px) {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 42px;
        }
    }
    .help-container{
        margin: 60px auto 0;
        max-width: 1029px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;
        column-gap: 120px;
        row-gap: 55px;
        @media screen and (max-width: 1180px) {
            justify-content: center;
            column-gap: 80px;
        }
        @media screen and (max-width: 998px) {
            column-gap: 60px;
        }
        @media screen and (max-width: 850px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 55px;
        }
        @media screen and (max-width: 530px) {
            column-gap: 30px;
            row-gap: 30px;
        }
        @media screen and (max-width: 380px) {
            margin-top: 42px;
            grid-template-columns: repeat(2, 130px);
            //grid-template-rows: repeat(3, 1fr);
        }
    }
    .help-item {
        img {
            padding-bottom: 22.8px;
            @media screen and (max-width: 530px) {
                padding-bottom: 20px;
            }
            @media screen and (max-width: 380px) {
                width: 50px;
                height: 50px;
                padding-bottom: 0;
            }
        }
        figcaption {
            font: $font-figcaption;
            letter-spacing: 0.06em;
            color: #545454;
            @media screen and (max-width: 530px) {
                font: normal 400 15px/16.5px Georgia;
            }
            @media screen and (max-width: 380px) {
                margin-top: 13px;
            }
        }
        &:nth-child(5) {
            margin-right: 0;
            @media screen and (max-width: 1101px) {
                margin-left: 0;
           }
        }
        &:nth-child(6) {
            margin-left: 84px;
            @media screen and (max-width: 1180px) {
                margin-left: 0;
            }
        }
        &:last-child {
            margin-right: 0;
            @media screen and (max-width: 1101px) {
                margin-right: 0;
           }
        }
    }
}

.donation {
    padding: 80px 0 100px;
    background-color: #F6F6F6;
    @media screen and (max-width: 450px) {
        padding: 42px 20px;
    }
    .donation-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 1280px;
        flex-wrap: wrap-reverse;
       @media screen and (max-width: 500px) {
        text-align: center;
        }
        .donation-img {
            align-self: center;
            @media screen and (max-width: 530px) {
                width: 81.25%;
           }
           @media screen and (max-width: 380px) {
            width: 95%;
            }
        }
    }
}
.donation-container {
    margin-left: 30px;
    max-width: 380px;
    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin-bottom: 60px;
    }
    @media screen and (max-width: 380px) {
        margin-bottom: 42px;
    }
    .donation-heading {
        margin-bottom: 20px;
        font: $font-h2;
        letter-spacing: 0.06em;
        color: #545454;
        @media screen and (max-width: 380px) {
            font-size: 25px;
            line-height: 32px;
       }
    }
    .donation-bank-info {
        margin-bottom: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.06em;
        color: #545454;
        @media screen and (max-width: 380px) {
            line-height: 24px;
            letter-spacing: 0;
       }
    }
    .donation-text {
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
        @media screen and (max-width: 380px) {
            text-align: justify;
       }
    }
    .donation-card-number {
        display: flex;
        justify-content: space-between;
        background-color: #F1CDB3;
        border-radius: 9px;
        margin-bottom: 20px;
        padding: 10px 15px;
        width: 349px;
        @media screen and (max-width: 410px) {
            width: 281px;
            margin-right: auto;
            margin-left: auto;
        }
        &::before {
            margin-right: 10px;
            width: 33px;
            height: 23px;
            background-image: url(../assets/svg/credit-card.svg);
            background-repeat: no-repeat;
            content: "";
        }
        a {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: #545454;
            @media screen and (max-width: 410px) {
                font-size: 15px;
                //line-height: 17px;
            }
        }
        @media (hover: hover) {
        &:hover {
            background-color: #FDDCC4;
        }
        }
    }
}

.footer {
    padding: 40px 40px 0;
    background: url(../assets/imgs/noise_lines.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;    
    @media screen and (max-width: 1000px) {
        padding-top: 30px;
    }
    @media screen and (max-width: 450px) {
        padding: 30px 10px 0;
    }
    .footer-container {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        @media screen and (max-width: 1000px) {
            justify-content: center;
            column-gap: 60px;
            row-gap: 25px;
        }
        @media screen and (max-width: 500px) {
            align-items: center;
            row-gap: 0;
        }
    }
    a {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        @media (hover: hover) {
        &:hover {
            color: #FAFAFA;
        }
        }
    }
    .email, .phone {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        @media screen and (max-width: 500px) {
            justify-content: center;
        }
        &::before {
            margin-right: 13px;
            width: 47px;
            height: 32px;
            background-repeat: no-repeat;
            content: "";
        }
    }
    address {
        display: flex;
        text-align: left;
        align-items: center;
        margin-bottom: 40px;
        @media screen and (max-width: 1000px) {
            margin-bottom: 33px;
        }
        &:first-of-type::before {
            margin-right: 17px;
            width: 42px;
            height: 32px;
            background-repeat: no-repeat;
            content: "";
            background-image: url(../assets/svg/icon-marker.svg);
        }
        &:nth-of-type(2)::before {
            width: 42px;
            height: 32px;
            background-repeat: no-repeat;
            content: "";
            background-image: url(../assets/svg/icon-marker.svg);
        }
    }
    .contacts-heading, .address-heading {
        margin-bottom: 40px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        @media screen and (max-width: 380px) {
            font-size: 25px;
            line-height: 32px;
            text-align: center;
        }
    }
    .address-heading {
        margin-bottom: 33px;
        @media screen and (max-width: 380px) {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 40px;
        }
    }
    .footer-contacts {
        padding-top: 16px;
        max-width: 279px;
        .email::before {
            background-image: url(../assets/svg/icon-email.svg);
        }
        .phone::before {
            background-image: url(../assets/svg/icon-phone.svg);
        }
        @media screen and (max-width: 1000px) {
            //margin-right: 60px;
            //margin-bottom: 25px;
            padding-top: 0;
        }
        @media screen and (max-width: 500px) {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    .footer-address {
        max-width: 302px;
        padding-top: 16px;
        address {
            margin-bottom: 32px;
            @media screen and (max-width: 1000px) {
                margin-bottom: 33px;
            }
            @media screen and (max-width: 380px) {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 40px;
                }
            }
        }
        @media screen and (max-width: 1000px) {
            padding-top: 0;
            margin-left: 0;
        }
    }
    .footer-img {
        @media screen and (max-width: 400px) {
            width: 260px;
        }
    }
}

/*Page 2 - Pets*/
.pet-header {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    @media screen and (max-width: $desktop-width) {
        justify-content: space-between;
   }
   @media screen and (max-width: 800px) {
        padding: 30px;
    }
    @media screen and (max-width: 400px) {
        padding: 30px 20px;
    }
   .pet-logo-link, .pet-header-nav-link {
    color: #545454;
   }
   .pet-logo-subtitle {
    color: #292929;
   }
   .header-nav-item {
    &:first-child {
        border-bottom: none;
    }
    &:nth-child(2) {
        border-bottom: solid 3px #F1CDB3;
    }
    }
    .header-nav-link {
        @media (hover: hover) {
        &:hover {
            color: #292929;
        }
        }
        &:active {
            border-bottom: solid 3px #F1CDB3;
            color: #292929;
        }
    }
    .disabled-link {
        cursor: default;
        pointer-events: none;
        color: #292929;
    }
    .burger-line {
        background-color: #000;
    }
    @media screen and (max-width: $tablet-width) {
        .header-nav {
            background-color: #F6F6F6;
            z-index: 10;
        }
    }
    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: transparent;
        z-index: -1;
    }
    .active {
        background: rgba(41, 41, 41, 0.6);
        z-index: auto;
    }
}


.our-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding: 80px 40px 95.6px;
    @media screen and (max-width: 800px) {
        padding-bottom: 70px;
    }
    @media screen and (max-width: 410px) {
        padding: 42px 10px 39px;
    }
    .friends-heading {
        margin-top: 0;
        @media screen and (max-width: 800px) {
            margin-bottom: 30px;
        }
        @media screen and (max-width: 400px) {
            margin-bottom: 42px;
        }
    }
    .our-friends-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        row-gap: 30px;
        column-gap: 40px;
        margin-bottom: 60px;
        width: 100%;
        max-width: 1280px;
        @media screen and (max-width: 800px) {
            margin-bottom: 40px;
        }
        .friends-slider-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #FAFAFA;
            border-radius: 9px;
            max-width: 436px;
            img {
                margin-bottom: 23px;
            }
            figcaption{
                padding-bottom: 30px;
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.06em;
                color: #545454;
                text-align: center;
            }
            @media (hover: hover) {
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 11px rgba(33,33,33,.2);
                .slider-button {
                    background-color: #FDDCC4;
                }
            }
            }
        }
        .slider-button {
            width: 187px;
            height: 52px;
            margin-bottom: 30px;
            padding-top: 15px;
            border: 2px solid #F1CDB3;
            border-radius: 100px;
            background-color: transparent;
            font: $font-a-btn;
            text-align: center;
            letter-spacing: 0.06em;
            color: #292929;
        }
    }
    .buttons-container {
        height: 56px;
        display: flex;
        gap: 20px;
        .pets-buttons {
            font: $font-figcaption;
            color: #292929;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: transparent;
            border: #F1CDB3 2px solid;
            cursor: pointer;
        }
        .disabled-btn {
            cursor: default;
            pointer-events: none;
            border: #CDCDCD 2px solid;
            color: #CDCDCD;
        }
        .page-number {
            background-color: #F1CDB3;
            border: none;
        }
    }
}