* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
}
.wrapper {
  flex-grow: 3;
}
.main {
  padding: 20px;
}
.game-wrapper {
  padding: 20px;
  text-align: center;
}
.grass {
  margin: 0 auto;
  padding: 10px;
  
}
.code-panel {
  display: flex;
  border: 1px solid;
}
.editor-panel {
  flex-grow: 1;
}
.code-panel-CSS, .code-panel-HTML {
  display: flex;
}
.aside {
  flex-grow: 1;
  height: 100vh;
  padding: 20px;
  border: 1px solid;
}
.aside-levels-list {
  list-style: "\2611"; /*зеленая галка \2705 */
  padding-left: 15px;
}
.game-lvl {
  padding: 10px;
  font-size: 18px;
}